[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/RoxaVN/cli.git
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/RoxaVN/core.git
[submodule "packages/dev-web"]
	path = packages/dev-web
	url = https://github.com/RoxaVN/dev-web.git
[submodule "packages/module-asset"]
	path = packages/module-asset
	url = https://github.com/RoxaVN/module-asset.git
[submodule "packages/module-currency"]
	path = packages/module-currency
	url = https://github.com/RoxaVN/module-currency.git
[submodule "packages/module-installer"]
	path = packages/module-installer
	url = https://github.com/RoxaVN/module-installer.git
[submodule "packages/module-project"]
	path = packages/module-project
	url = https://github.com/RoxaVN/module-project.git
[submodule "packages/module-notification"]
	path = packages/module-notification
	url = https://github.com/RoxaVN/module-notification.git
[submodule "packages/module-upload"]
	path = packages/module-upload
	url = https://github.com/RoxaVN/module-upload.git
[submodule "packages/module-user"]
	path = packages/module-user
	url = https://github.com/RoxaVN/module-user.git
[submodule "packages/module-utils"]
	path = packages/module-utils
	url = https://github.com/RoxaVN/module-utils.git
[submodule "packages/module-web3"]
	path = packages/module-web3
	url = https://github.com/RoxaVN/module-web3.git
[submodule "packages/plugin-email-sender"]
	path = packages/plugin-email-sender
	url = https://github.com/RoxaVN/plugin-email-sender.git
[submodule "packages/plugin-firebase"]
	path = packages/plugin-firebase
	url = https://github.com/RoxaVN/plugin-firebase.git
[submodule "packages/plugin-firebase-auth"]
	path = packages/plugin-firebase-auth
	url = https://github.com/RoxaVN/plugin-firebase-auth.git
[submodule "packages/plugin-project-notification"]
	path = packages/plugin-project-notification
	url = https://github.com/RoxaVN/plugin-project-notification.git
[submodule "packages/plugin-upload-seaweedfs"]
	path = packages/plugin-upload-seaweedfs
	url = https://github.com/RoxaVN/plugin-upload-seaweedfs.git
[submodule "packages/plugin-web3-auth"]
	path = packages/plugin-web3-auth
	url = https://github.com/RoxaVN/plugin-web3-auth.git
[submodule "packages/new_metastrike"]
	path = packages/new_metastrike
	url = git@gitlab.com:metastrike/new_metastrike.git
[submodule "packages/plugin-email-auth"]
	path = packages/plugin-email-auth
	url = https://github.com/RoxaVN/plugin-email-auth.git
[submodule "packages/plugin-otp"]
	path = packages/plugin-otp
	url = https://github.com/RoxaVN/plugin-otp.git
[submodule "packages/plugin-user-info"]
	path = packages/plugin-user-info
	url = https://github.com/RoxaVN/plugin-user-info.git
[submodule "packages/plugin-asset-web3"]
	path = packages/plugin-asset-web3
	url = https://github.com/RoxaVN/plugin-asset-web3.git
[submodule "packages/module-socket"]
	path = packages/module-socket
	url = https://github.com/RoxaVN/module-socket.git
[submodule "packages/module-game"]
	path = packages/module-game
	url = https://github.com/RoxaVN/module-game.git
[submodule "packages/plugin-casino-game"]
	path = packages/plugin-casino-game
	url = https://github.com/RoxaVN/plugin-casino-game.git
