[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/RoxaVN/cli.git
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/RoxaVN/core.git
[submodule "packages/dev-web"]
	path = packages/dev-web
	url = https://github.com/RoxaVN/dev-web.git
[submodule "packages/module-asset"]
	path = packages/module-asset
	url = https://github.com/RoxaVN/module-asset.git
[submodule "packages/module-currency"]
	path = packages/module-currency
	url = https://github.com/RoxaVN/module-currency.git
[submodule "packages/module-installer"]
	path = packages/module-installer
	url = https://github.com/RoxaVN/module-installer.git
[submodule "packages/module-project"]
	path = packages/module-project
	url = https://github.com/RoxaVN/module-project.git
[submodule "packages/module-notification"]
	path = packages/module-notification
	url = https://github.com/RoxaVN/module-notification.git
[submodule "packages/module-upload"]
	path = packages/module-upload
	url = https://github.com/RoxaVN/module-upload.git
[submodule "packages/module-user"]
	path = packages/module-user
	url = https://github.com/RoxaVN/module-user.git
[submodule "packages/module-web3"]
	path = packages/module-web3
	url = https://github.com/RoxaVN/module-web3.git
[submodule "packages/plugin-email-sender"]
	path = packages/plugin-email-sender
	url = https://github.com/RoxaVN/plugin-email-sender.git
[submodule "packages/plugin-firebase"]
	path = packages/plugin-firebase
	url = https://github.com/RoxaVN/plugin-firebase.git
[submodule "packages/plugin-project-notification"]
	path = packages/plugin-project-notification
	url = https://github.com/RoxaVN/plugin-project-notification.git
[submodule "packages/plugin-otp"]
	path = packages/plugin-otp
	url = https://github.com/RoxaVN/plugin-otp.git
[submodule "packages/plugin-user-info"]
	path = packages/plugin-user-info
	url = https://github.com/RoxaVN/plugin-user-info.git
[submodule "packages/plugin-asset-web3"]
	path = packages/plugin-asset-web3
	url = https://github.com/RoxaVN/plugin-asset-web3.git
[submodule "packages/module-socket"]
	path = packages/module-socket
	url = https://github.com/RoxaVN/module-socket.git
[submodule "packages/module-game"]
	path = packages/module-game
	url = https://github.com/RoxaVN/module-game.git
[submodule "packages/plugin-casino-game"]
	path = packages/plugin-casino-game
	url = https://github.com/RoxaVN/plugin-casino-game.git
[submodule "packages/plugin-payment"]
	path = packages/plugin-payment
	url = https://github.com/RoxaVN/plugin-payment.git
[submodule "packages/plugin-payment-web3"]
	path = packages/plugin-payment-web3
	url = https://github.com/RoxaVN/plugin-payment-web3.git
[submodule "packages/module-message"]
	path = packages/module-message
	url = https://github.com/RoxaVN/module-message.git
[submodule "packages/plugin-web3-airdrop"]
	path = packages/plugin-web3-airdrop
	url = https://github.com/RoxaVN/plugin-web3-airdrop.git
[submodule "packages/plugin-news"]
	path = packages/plugin-news
	url = https://github.com/RoxaVN/plugin-news.git
[submodule "packages/openapi"]
	path = packages/openapi
	url = https://github.com/RoxaVN/openapi.git
[submodule "packages/module-referral"]
	path = packages/module-referral
	url = https://github.com/RoxaVN/module-referral.git
[submodule "packages/module-workflow"]
	path = packages/module-workflow
	url = https://github.com/RoxaVN/module-workflow.git
[submodule "packages/module-reward"]
	path = packages/module-reward
	url = https://github.com/RoxaVN/module-reward.git
[submodule "packages/module-wager"]
	path = packages/module-wager
	url = https://github.com/RoxaVN/module-wager.git
[submodule "packages/module-organization"]
	path = packages/module-organization
	url = https://github.com/RoxaVN/module-organization.git
[submodule "packages/plugin-telegram-bot"]
	path = packages/plugin-telegram-bot
	url = https://github.com/RoxaVN/plugin-telegram-bot.git
[submodule "packages/plugin-asset-template"]
	path = packages/plugin-asset-template
	url = https://github.com/RoxaVN/plugin-asset-template.git
[submodule "packages/plugin-store-record"]
	path = packages/plugin-store-record
	url = https://github.com/RoxaVN/plugin-store-record.git
[submodule "packages/module-order"]
	path = packages/module-order
	url = https://github.com/RoxaVN/module-order.git
[submodule "packages/plugin-asset-category"]
	path = packages/plugin-asset-category
	url = https://github.com/RoxaVN/plugin-asset-category.git
[submodule "packages/module-skill"]
	path = packages/module-skill
	url = https://github.com/RoxaVN/module-skill.git
[submodule "packages/module-timesheet"]
	path = packages/module-timesheet
	url = https://github.com/RoxaVN/module-timesheet.git
[submodule "packages/code-convention"]
	path = packages/code-convention
	url = https://github.com/RoxaVN/code-convention.git
[submodule "packages/module-system"]
	path = packages/module-system
	url = https://github.com/RoxaVN/module-system.git
[submodule "packages/plugin-api-logger"]
	path = packages/plugin-api-logger
	url = https://github.com/RoxaVN/plugin-api-logger.git
[submodule "packages/module-accounting"]
	path = packages/module-accounting
	url = https://github.com/RoxaVN/module-accounting.git
[submodule "packages/plugin-sequence"]
	path = packages/plugin-sequence
	url = https://github.com/RoxaVN/plugin-sequence.git
[submodule "packages/module-finance-contract"]
	path = packages/module-finance-contract
	url = https://github.com/RoxaVN/module-finance-contract.git
[submodule "packages/plugin-user-ban"]
	path = packages/plugin-user-ban
	url = https://github.com/RoxaVN/plugin-user-ban.git
[submodule "packages/plugin-message-report"]
	path = packages/plugin-message-report
	url = https://github.com/RoxaVN/plugin-message-report.git
[submodule "packages/plugin-message-reaction"]
	path = packages/plugin-message-reaction
	url = https://github.com/RoxaVN/plugin-message-reaction.git
[submodule "packages/plugin-message-pin"]
	path = packages/plugin-message-pin
	url = https://github.com/RoxaVN/plugin-message-pin.git
[submodule "packages/plugin-message-media"]
	path = packages/plugin-message-media
	url = https://github.com/RoxaVN/plugin-message-media.git
[submodule "packages/plugin-api-rate-limiter"]
	path = packages/plugin-api-rate-limiter
	url = https://github.com/RoxaVN/plugin-api-rate-limiter.git
[submodule "packages/plugin-message-poll"]
	path = packages/plugin-message-poll
	url = https://github.com/RoxaVN/plugin-message-poll.git
[submodule "packages/plugin-project-message"]
	path = packages/plugin-project-message
	url = https://github.com/RoxaVN/plugin-project-message.git
[submodule "packages/plugin-auth-email"]
	path = packages/plugin-auth-email
	url = https://github.com/RoxaVN/plugin-auth-email.git
[submodule "packages/plugin-auth-web3"]
	path = packages/plugin-auth-web3
	url = https://github.com/RoxaVN/plugin-auth-web3.git
[submodule "packages/plugin-auth-firebase"]
	path = packages/plugin-auth-firebase
	url = https://github.com/RoxaVN/plugin-auth-firebase.git
[submodule "packages/plugin-notification-push"]
	path = packages/plugin-notification-push
	url = https://github.com/RoxaVN/plugin-notification-push.git
[submodule "packages/plugin-notification-push-web"]
	path = packages/plugin-notification-push-web
	url = https://github.com/RoxaVN/plugin-notification-push-web.git
[submodule "packages/plugin-notification-in-app"]
	path = packages/plugin-notification-in-app
	url = https://github.com/RoxaVN/plugin-notification-in-app.git
[submodule "packages/plugin-message-notification"]
	path = packages/plugin-message-notification
	url = https://github.com/RoxaVN/plugin-message-notification.git
[submodule "packages/module-location"]
	path = packages/module-location
	url = https://github.com/RoxaVN/module-location.git
[submodule "packages/plugin-location-countries"]
	path = packages/plugin-location-countries
	url = https://github.com/RoxaVN/plugin-location-countries.git
[submodule "packages/plugin-location-vietnam"]
	path = packages/plugin-location-vietnam
	url = https://github.com/RoxaVN/plugin-location-vietnam.git
